@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=McLaren&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Outfit", sans-serif;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Flex */
.flex-sb {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* Navbar */
.nav-logo {
    font-weight: 700;
    font-size: 32px;
    line-height: 140%;
    color: #fff;
}

.nav-logo span {
    color: #005aee;
}

.nav-items ul li {
    margin-left: 20px;
}

.nav-items ul li a {
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    color: #fff;
}

.nav-btn button {
    border: 2px solid #005aee;
    cursor: pointer;
    transition: 0.3s all;
    height: 56px;
    background: #005aee;
    border-radius: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 137%;
    color: #111204;
    width: 160px;
    margin-left: 60px;
}

.nav-btn button:hover {
    background: transparent;
    color: #005aee;
}

/* Sidebar */
.sidebar {
    display: none;
}

.hamburger {
    cursor: pointer;
    position: fixed;
    top: 24px;
    right: 4%;
    z-index: 999;
}

.hamburger input {
    display: none;
}

.hamburger svg {
    height: 3em;
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
    fill: none;
    stroke: #3B424C;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
    stroke-dasharray: 12 63;
}

.hamburger input:checked+svg .line {
    stroke: #612421;
}

.hamburger input:checked+svg {
    transform: rotate(-45deg);
}

.hamburger input:checked+svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
}

/* Sidebar content */
#toggleSidebar {
    display: none;
}

.sidebar-content {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 200%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease-in-out;
    z-index: 998;
}

#toggleSidebar:checked~.sidebar-content {
    right: 0;
}

.sidebar-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 182px;
    margin: 20px auto 0 auto;
}

.sidebar-logo {
    width: 50%;
    margin: auto;
    margin-top: 26%;
    margin-bottom: 36px;
}

.sidebar-logo img {
    width: 100%;
}

.sidebar-items {
    margin: auto;
    width: 80%;
    margin-top: 0;
}

.sidebar-items ul {
    padding-left: 0;
    list-style: none;
    text-align: center;
}

.sidebar-items ul li {
    margin: 8px 0;
}

.sidebar-items ul li a {
    text-decoration: none;
    color: #253d30;
    font-size: 16px;
}



/* Header */
.header {
    background: #000;
    padding: 2% 6%;
    position: relative;
}

.header-title {
    margin: 146px auto 40px auto;
    width: 813px;
    font-weight: 700;
    font-size: 96px;
    line-height: 107%;
    letter-spacing: -0.03em;
    text-transform: capitalize;
    text-align: center;
    color: #fff;
}

.header-title span {
    font-style: italic;
    font-weight: 800;
    color: #005aee;
}

.header-subtitle {
    width: 522px;
    margin: 0 auto 40px auto;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
}

.header-link a {
    margin: 0 auto 80px auto;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #111204;
    background: #005aee;
    border-radius: 8px;
    width: 149px;
    height: 56px;
}

.header-bottom {
    margin: auto;
    text-align: center;
    width: 439px;
    font-weight: 700;
    font-size: 15px;
    line-height: 160%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #fff;
}

.header-bottom .hr {
    background: #005aee;
    width: 50px;
    height: 2px;
}

.header-img {
    width: 50%;
    margin: 100px auto;
    transition: 0.3s all;
}

.header-img img {
    width: 100%;
    transition: 0.3s all;
}

.header .shadow {
    border-radius: 100%;
    background: rgba(0, 90, 238, 0.4);
    filter: blur(120px);
    width: 416px;
    height: 309px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 50%);
}



.header .star1 {
    position: absolute;
    top: 26%;
    right: 8%;
}

.header .star2 {
    position: absolute;
    top: 46%;
    right: 32%;
}

.header .star3 {
    position: absolute;
    top: 46%;
    left: 20%;
}


/* Services */
.services-content {
    margin: 6% 4%;
    position: relative;
}

.service-top {
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.service-top .title {
    width: 700px;
    font-family: "McLaren", sans-serif;
    font-weight: 400;
    font-size: 56px;
    line-height: 114%;
    letter-spacing: -0.03em;
    background: linear-gradient(180deg, #005aee 0%, #0046b9 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.service-top .text {
    width: 380px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #8f9bb7;
}

.service-middle {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-bottom: 100px;
}

.service-item {
    width: 100%;
    text-align: center;
}

.service-item img {
    width: 100px;
    height: 100px;
    margin: 20px auto;
}

.service-item .title {
    font-weight: 800;
    font-size: 24px;
    line-height: 250%;
    letter-spacing: -0.03em;
    text-align: center;
    color: #16012c;
}

.service-item .text {
    font-weight: 500;
    font-size: 16px;
    line-height: 187%;
    letter-spacing: -0.02em;
    text-align: center;
    color: #64607d;
    width: 300px;
    margin: 10px auto;
}

.service-item .link a {
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    color: #005aee;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service-item .link a svg {
    margin-left: 10px;
}

.service-bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.service-bottom .sb1 {
    margin: auto;
    width: 90%;
}

.service-bottom .sb2 {
    position: relative;
    top: 100px;
    width: 100%;
    margin: auto;
}

.service-bottom .sb3 {
    margin: auto;
    width: 88%;
}

.line-1 {
    left: -40px;
    top: 20%;
    position: absolute;
}

.line-2 {
    right: -40px;
    top: 20%;
    position: absolute;
}

/* About us */
.about {
    padding: 20% 4%;
    background: #000;
    position: relative;
}

.about-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 127%;
    text-align: center;
    color: #fff;
}

.about-title span {
    color: #005aee;
}

.about-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    text-align: center;
    color: #fff;
    width: 498px;
    margin: 220px auto 0 auto;
}

.about-founder {
    font-weight: 400;
    font-size: 12px;
    line-height: 158%;
    text-transform: uppercase;
    text-align: center;
    color: #005aee;
    margin-top: 26px;
}

.about-circle-small {
    width: 92px;
    height: 92px;
    position: relative;
}

.about-circle-small .bg {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 48px;
    width: 76px;
    height: 79px;
    background: linear-gradient(135deg, #005aee 0%, #1d70fa 100%);
    transform: rotate(15deg);
}

.about-circle-small .shadow {
    position: absolute;
    left: 8px;
    top: 10px;
    border-radius: 23px;
    width: 46px;
    height: 48px;
    filter: blur(24px);
    background: #1a59c2;
    transform: rotate(15deg);
}

.about-circle-small .front {
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 48px;
    width: 76px;
    height: 79px;
    backdrop-filter: blur(28px);
    background: linear-gradient(226deg, rgba(0, 90, 238, 0.4) 0%, rgba(0, 90, 238, 0.4) 100%);
}

.about-circle-small .front svg {
    position: absolute;
    top: 50%;
    left: 50%;
    fill: rgba(255, 255, 255, 0.5);
    transform: translate(-50%, -50%);
}

.about-ball-1 {
    position: absolute;
    left: 16%;
    top: 35%;
}

.about-ball-2 {
    position: absolute;
    left: 20%;
    top: 54%;
}

.about-ball-3 {
    position: absolute;
    left: 16%;
    top: 72%;
}

.about-ball-4 {
    position: absolute;
    right: 16%;
    top: 35%;
}


.about-ball-5 {
    position: absolute;
    right: 20%;
    top: 54%;
}

.about-ball-6 {
    position: absolute;
    right: 16%;
    top: 72%;
}

.about-big-1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -68%);
}

.about-circle-big {
    position: relative;
    width: 140px;
    height: 140px;
}

.about-circle-big .bg {
    border-radius: 58px;
    width: 115px;
    height: 119px;
    background: linear-gradient(135deg, #005aee 0%, #1d70fa 100%);
    transform: rotate(15deg);
    position: absolute;
    right: 0;
    top: 0;
}

.about-circle-big .front {
    border-radius: 57px;
    width: 114px;
    backdrop-filter: blur(15px);
    background: linear-gradient(226deg, rgba(0, 90, 238, 0.4) 0%, rgba(0, 90, 238, 0.4) 100%);
    height: 119px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.about-circle-big .front .icon {
    position: relative;
}

.about-circle-big .front .icon svg {
    position: absolute;
    top: 50%;
    left: 50%;
    fill: rgba(255, 255, 255, 0.5);
    transform: translate(-50%, 50%);
}

.about-shadow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -38%);
}

.about-shadow svg {
    border-radius: 100%;
    fill: linear-gradient(180deg, #005aee 0%, #005aee 52.84%, #005aee 100%);
    filter: blur(70px);
}

/* Contact */
.contact-content {
    padding: 8% 4%;
    position: relative;
}

.contact-section {
    border-radius: 8px;
    width: 201px;
    height: 37px;
    background: #005aee;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #fff;
    margin: 18px auto;
}

.contact-section img {
    width: 23px;
    height: 23px;
}

.contact-title {
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    color: #0a203f;
}

.contact-text {
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #0a203f;
    width: 490px;
    margin: 18px auto;
}

.contact-items {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 80px;
}

.contact-item {
    text-align: center;
}

.contact-item-name {
    font-weight: 600;
    font-size: 26px;
    color: #0a203f;
    margin: 18px auto;
}

.contact-item-value a {
    font-weight: 400;
    font-size: 18px;
    color: #0a203f;
}

.contact-shadow svg {
    border-radius: 100%;
    fill: linear-gradient(180deg, #70a6ff 0%, #005aee 100%);
    filter: blur(85.19999694824219px);
}

.contact-shadow-1 {
    position: absolute;
    left: -18%;
    top: -6%;
    z-index: -1;
}

.contact-shadow-2 {
    position: absolute;
    top: 180%;
    left: 30%;
}

/* Footer */
.footer-content {
    display: flex;
    align-items: start;
    justify-content: space-between;
    background: #005aee;
    padding: 6% 4%;
}

.footer-logo img {
    border-radius: 9px;
    width: 97px;
    height: 65px;
    margin-bottom: 10px;
}

.footer-logo {
    font-weight: 400;
    font-size: 12px;
    color: #fff;
}

.footer-links {
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 347px;
}

.footer-item .title, .footer-contact .title {
    font-weight: 500;
    font-size: 18px;
    color: #fff;
    margin-bottom: 16px;
}

.footer-item ul li {
    margin-bottom: 14px;
}

.footer-item ul li, .footer-item ul li a, .footer-contact p, .footer-contact p a {
    font-weight: 400;
    font-size: 12px;
    color: #fff;
}

.footer-contact p {
    margin-bottom: 14px;
}

@media (max-width: 1000px) {

    /* Navabar */
    .sidebar {
        display: block;
    }

    .nav-items {
        display: none;
    }

    /* Hedaer */
    .header-title {
        width: 100%;
    }

    /* Service */
    .service-middle {
        display: block;
    }

    .service-top .title {
        font-size: 43px;
    }

    /* About */
    .about-text {
        position: relative;
        z-index: 2;
    }

    .about-ball {
        opacity: 0.52;
    }

    /* Footer */
    .footer-links {
        width: 276px;
    }
}

@media (max-width: 800px) {

    /* Hedaer */
    .header-title {
        font-size: 54px;
        margin: 100px auto 36px auto;
    }

    .header-subtitle {
        width: 80%;
    }

    /* Service */
    .service-top {
        display: block;
    }

    .service-top .title {
        width: 100%;
        margin-bottom: 14px;
        line-height: normal;
    }

    .service-top .text {
        width: 80%;
    }

    /* Contact */
    .contact-shadow {
        display: none;
    }

    /* Footer */
    .footer-content {
        display: block;
        text-align: center;
    }

    .footer-links {
        width: 56%;
        margin: 40px auto;
    }
}

@media (max-width: 500px) {

    /* Navbar */
    .navbar-content {
        margin-top: 4%;
    }

    .nav-logo {
        font-size: 24px;
    }

    /* Hedaer */
    .header {
        width: 100%;
    }

    .header-title {
        margin: 90px auto 16px auto;
        font-size: 30px;
        width: 100%;
    }

    .header-subtitle {
        width: 100%;
        font-size: 14px;
    }

    .header-bottom {
        width: 100%;
        margin: 150px auto 0 auto;
        bottom: 60px;
        font-size: 10px;
        position: relative;
        left: 50%;
        transform: translate(-50%, 50%);
    }

    .header-bottom .hr {
        width: 30px;
    }

    .header-link a {
        margin: 0 auto 70px auto;
        font-size: 14px;
        height: 50px;
    }

    .header .shadow {
        width: 74%;
    }

    .header-img {
        width: 90%;
        margin: 10px auto;
    }

    /* Services */
    .services-content {
        width: 100%;
        margin: 6%;
    }

    .service-top .title {
        font-size: 26px;
    }

    .service-top .text {
        width: 90%;
        font-size: 14px;
    }

    .service-bottom {
        display: block;
    }

    .service-bottom .sb1, .service-bottom .sb2, .service-bottom .sb3 {
        top: 0;
        width: 80%;
        margin: auto 28px;
    }

    .service-item .text {
        width: 80%;
        font-size: 14px
    }

    .line-1 {
        left: 0;
        top: 11%;
    }

    .line-2 {
        right: 0;
        top: 11%;
    }

    /* About Us */
    .about-text {
        width: 100%;
        margin: 30px auto 0 auto;
    }

    .about-ball {
        display: none;
    }

    .about-shadow svg {
        width: 100%;
    }

    .about-title {
        font-size: 30px;
    }

    /* Contact */
    .contact-text {
        width: 100%;
        font-size: 16px;
    }

    .contact-item {
        margin-bottom: 24px;
    }

    .contact-item-name {
        font-size: 18px;
    }

    .contact-item-value a {
        font-size: 16px;
    }

    /* Footer */
    .footer-links {
        width: 90%;
        margin: 40px auto;
        justify-content: space-around;
    }
}