.webHeader {
    background: #000;
    padding: 2% 2%;
}

.webHeader-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8% 0;
}

.webHeader-shadow-1 {
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 100%;
    fill: linear-gradient(192deg, #70a6ff 0%, #005aee 100%);
    filter: blur(85.19999694824219px);
}

.webHeader-shadow-2 {
    left: 0;
    position: absolute;
}

.webHeader-section {
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
}

.webHeader-title {
    margin: 28px auto;
    font-weight: 700;
    font-size: 30px;
    color: #fff;
}

.webHeader-text {
    font-weight: 400;
    font-size: 16px;
    color: #fff;
}

.webHeader-inline {
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 577px;
    margin-top: 48px;
}

.webHeader-btn-group {
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 498px;
    margin-top: 48px;
}

.webHeader-inline .title {
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    margin-bottom: 17px;
}

.webHeader-inline .text {
    font-weight: 400;
    font-size: 16px;
    color: #fff;
}

.webHeader-works-link a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    backdrop-filter: blur(4px);
    border-radius: 6px;
    width: 213px;
    height: 57px;
    background: rgba(0, 90, 238, 0.75);
}

.webHeader-book-link a {
    display: flex;
    align-items: center;
    justify-content: start;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
}

.webHeader-book-link svg {
    margin-right: 18px;
}

.webHeader-r img {
    width: 700px;
}

/* Process */
.procces-content {
    padding: 8% 4%;
    background-color: #fff;
}

.procces-title {
    font-weight: 400;
    font-size: 46px;
    text-transform: capitalize;
    text-align: center;
    background: linear-gradient(180deg, #005aee 0%, #005aee 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.procces-text {
    font-weight: 300;
    font-size: 20px;
    line-height: 180%;
    text-align: center;
    color: #2e2e2e;
    width: 800px;
    margin: 18px auto;
}

.procces-items {
    position: relative;
    display: flex;
    align-items: start;
    justify-content: space-around;
    margin-top: 60px;
}

.procces-item-icon {
    text-align: center;
    margin-bottom: 16px;
}

.procces-item-title {
    font-weight: 600;
    font-size: 16px;
    text-transform: capitalize;
    text-align: center;
    color: #005aee;
}

.procces-item-text {
    margin-top: 16px;
    font-weight: 300;
    width: 318px;
    font-size: 14px;
    line-height: 171%;
    text-align: center;
    color: #423d3d;
}

.procces-arrow-1 {
    position: absolute;
    left: 24%;
    top: 14px;
}

.procces-arrow-2 {
    position: absolute;
    right: 23%;
    top: 80px;
}

/* Projects */
.portfolio-content {
    padding: 6% 4%;
    background: #101010;
}

.portfolio-title {
    font-weight: 700;
    font-size: 50px;
    line-height: 140%;
    color: #fff;
    margin-bottom: 50px;
}

.portfolio-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 80px;
}

.portfolio-item {
    width: 100%;
}

.portfolio-item .img {
    width: 100%;
    background: #2c2b31;
    border-radius: 18px;
    height: 420px;
    overflow: hidden;
    margin-bottom: 18px;
}

.portfolio-item .img img {
    width: 100%;
}

.portfolio-item .instruments {
    display: flex;
    align-items: center;
    justify-content: start;
}

.portfolio-item .instrument {
    margin-right: 12px;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
    color: #fff;
    padding: 14px 20px;
    background: #282828;
    border-radius: 29px;
}

.portfolio-item .title {
    font-weight: 700;
    font-size: 26px;
    text-align: left;
    color: #fff;
    margin: 18px 0;
}

.portfolio-item a {
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: start;
    color: #005AEE;
}

.portfolio-item a svg {
    stroke-width: 2px;
    margin-left: 10px;
}

@media (max-width: 1200px) {
    .webHeader-r img {
        width: 100%;
    }

    .procces-arrow-1 svg, .procces-arrow-2 svg {
        width: 180px;
    }

    .procces-item-text {
        width: 90%;
        margin: 16px auto;
    }
}

@media (max-width: 1000px) {
    .webHeader-inline {
        width: 420px;
    }

    .webHeader-inline .text {
        font-size: 14px;
        margin-bottom: 12px;
    }

    .webHeader-text, .webHeader-section {
        font-size: 14px;
    }

    .webHeader-inline .title {
        font-size: 16px;
    }

    .webHeader-title {
        margin: 20px auto;
        font-size: 26px;
    }

    .webHeader-book-link a {
        justify-content: center;
        font-size: 16px;
        margin-left: 20px;
    }

    .webHeader-works-link a {
        font-size: 16px;
        width: 178px;
    }

    .webHeader-btn-group {
        width: 430px;
    }

    .procces-text {
        width: 90%;
    }

    .procces-arrow-1 svg, .procces-arrow-2 svg {
        width: 150px;
    }

    .procces-arrow-1 {
        left: 28%;
        top: 20px;
    }

    .procces-arrow-2 {
        right: 18%;
        top: 74px;
    }
}

@media (max-width: 800px) {
    .webHeader-content {
        display: block;
    }

    .webHeader-r img {
        width: 100%;
        margin-top: 60px;
    }

    .procces-arrow-1 svg, .procces-arrow-2 svg {
        display: none;
    }

    .procces-items {
        display: block;
    }

    .procces-text {
        font-size: 18px;
    }

    /* Projects */
    .portfolio-items {
        grid-column-gap: 10px;
    }
}

@media (max-width: 500px) {
    .webHeader-l {
        position: relative;
        z-index: 2;
    }

    .webHeader-inline, .webHeader-btn-group {
        width: 100%;
        display: block;
    }

    .webHeader-works-link a {
        width: 100%;
        margin-bottom: 20px;
    }

    .webHeader-content {
        padding: 24% 0;
    }

    /* Projects */
    .portfolio-items {
        grid-template-columns: repeat(1, 1fr);
    }
}